[Desktop Entry]
Encoding=UTF-8
Name=Fxc
Comment=Fxc P2P Cryptocurrency
Comment[fr]=Fxc, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Fxc, eşten eşe kriptografik sanal para birimi
Exec=fxc-qt %u
Terminal=false
Type=Application
Icon=fxc128
MimeType=x-scheme-handler/fxc;
Categories=Office;Finance;
